/*------------------------------------*\
  # ESTILOS GENERALES
\*------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  font-family: $font-family;
  color: $colorText-main;
}

main {
  display: grid;
  grid-template-columns: 1fr 300px;
  width: 100%;
  max-width: calc($screenMaxWidth + 30px);
  margin: space(6) auto 0;
  padding: 0 space(3) space(10);
  gap: space(6);

  @include matchTablet {
    grid-template-columns: 1fr;
  }
}

/*------------------------------------*\
  # SECCIONES
\*------------------------------------*/

.main-container,
.side-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  min-width: 100%;
  gap: space(6);
}

.section {
  min-width: 100%;
  margin: auto;

  &__header {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    padding: space(1) 0;
    margin-bottom: space(3);
    border-bottom: 3px solid black;
    cursor: pointer;

    @include animate();

    &:hover {
      background-color: rgb(246, 246, 246);
    }

    i {
      transform: translateY(15px);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: space(4);
    overflow: hidden;
    max-height: 2000px;

    @include animate(max-height);
  }

  &--collapsed {
    .section__content {
      max-height: 0;
    }
  }
}

/*------------------------------------*\
  # CONTENIDO DE SECCIONES BÁSICAS
\*------------------------------------*/

.profile,
.hobbies {
  color: $colorText;
}
