/*------------------------------------*\
  # ESTILOS GENERALES
\*------------------------------------*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  min-height: 100vh;
  font-family: $font-family;
  color: $color-text-main;
}

main {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: space(6);
  width: 100%;
  max-width: calc($screen-max-width + 30px);
  padding: 0 space(3) space(10);
  margin: space(6) auto 0;

  @include match-tablet {
    grid-template-columns: 1fr;
  }
}

/*------------------------------------*\
  # SECCIONES
\*------------------------------------*/

.main-container,
.side-container {
  display: flex;
  flex-direction: column;
  gap: space(6);
  align-self: flex-start;
  min-width: 100%;
}

.section {
  min-width: 100%;
  margin: auto;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: space(1) 0;
    margin-bottom: space(3);
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 3px solid black;

    &:hover {
      background-color: rgb(246, 246, 246);
    }

    i {
      transform: translateY(15px);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: space(4);
    max-height: 2000px;
    overflow: hidden;

    @include animate(max-height);
  }

  &--collapsed {
    .section__content {
      max-height: 0;
    }
  }
}

/*------------------------------------*\
  # CONTENIDO DE SECCIONES BÁSICAS
\*------------------------------------*/

.profile,
.hobbies {
  color: $color-text-secondary;
}
