.job {
  &__header {
    text-transform: capitalize;

    h3 {
      display: inline;
    }
  }

  &__company {
    font-weight: 600;
    color: $color-text-secondary;
  }

  &__info {
    margin-bottom: space(1);
    font-weight: 500;
    color: $color-text-secondary;
  }

  &__date {
    color: $color-text-secondary;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: space(1);
    margin-top: space(2);
    margin-left: space(1);
    color: $color-text-secondary;
    list-style: none;

    i {
      margin-right: space(1);
    }
  }
}
