.main-footer {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: space(6);
  background: $color-background-alt;

  &__content {
    font-size: 14px;
    color: $color-text-white;
    text-align: center;
  }
}
