.main-header {
  width: 100%;
  padding: 30px;
  background: grey;
  color: white;

  & > * {
    width: 100%;
    max-width: 1170px;
    margin: auto;
  }

  &__data {
    padding-bottom: 20px;
  }

  &__contact-info {
    display: flex;
    justify-content: space-between;
    list-style: none;

    & > * {
      display: flex;
      gap: 10px;

      i {
        transform: translateY(2px);
      }
    }
  }
}
