.main-header {
  width: 100%;
  padding: space(6);
  color: $color-text-tertiary;
  background: $color-background-alt;

  & > * {
    width: 100%;
    max-width: $screen-max-width;
    margin: auto;
  }

  &__data {
    padding-bottom: space(4);

    h1 {
      font-size: 45px;
      text-transform: uppercase;
      color: $color-text-white;
    }

    p {
      font-size: 25px;
    }
  }

  &__contact-info {
    display: flex;
    justify-content: space-between;
    list-style: none;

    & > * {
      display: flex;
      gap: space(2);

      i {
        transform: translateY(2px);
      }
    }
  }

  @include match-tablet {
    padding: space(6) space(3);

    &__contact-info {
      flex-direction: column;
      gap: space(1);
    }
  }
}
