<header class="main-header" id="header">
    <div class="main-header__data">
        <p>{{ name }}</p>
        <p>Software developer</p>
    </div>
    <div class="main-header__contact-info">
        <div class="main-header__contact-info--telephone">0049 1765354792</div>
        <div class="main-header__contact-info--email">0049 1765354792</div>
        <div class="main-header__contact-info--web">0049 1765354792</div>
        <div class="main-header__contact-info--githut">
            <i class="fa-regular fa-code-branch"></i>0049 1765354792
            <i class="fa-regular fa-code-compare"></i>
            <i class="fa-solid fa-code-commit"></i>
            <i class="fas fa-code-branch"></i>
        </div>
    </div>
</header>
