<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link
            rel="stylesheet"
            type="text/css"
            href="./assets/styles/main.scss"
        />
        <!-- do not remove this line! -->
        <title>Herramientas HTML y CSS 2. PEC 1</title>
        <meta name="author" content="Raimon Espasa Bou" />
        <meta
            name="description"
            content="PEC1 de la asignatura de Herramientas HTML y CSS 2, UOC"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
        />
        <script src="https://unpkg.com/vue@3.1.1/dist/vue.global.prod.js"></script>
        <include src="./views/header.html"></include>
        <main id="content">
            <article class="main-container">
                <section
                    :class="isProfileExpanded ? 'section' : 'section section--collapsed'"
                >
                    <header class="section__header" @click="toggleProfile">
                        <h2>Profile</h2>
                        <i
                            v-if="isProfileExpanded"
                            class="fa-solid fa-chevron-up fa-xl"
                        ></i>
                        <i v-else class="fa-solid fa-chevron-down fa-xl"></i>
                    </header>
                    <div class="section__content">
                        <div v-for="line in profile" class="profile">
                            {{ line }}
                        </div>
                    </div>
                </section>
                <section
                    :class="isExperienceExpanded ? 'section' : 'section section--collapsed'"
                >
                    <header class="section__header" @click="toggleExperience">
                        <h2>Experience</h2>
                        <i
                            v-if="isExperienceExpanded"
                            class="fa-solid fa-chevron-up fa-xl"
                        ></i>
                        <i v-else class="fa-solid fa-chevron-down fa-xl"></i>
                    </header>
                    <ul class="section__content">
                        <include src="./views/experience.html"></include>
                    </ul>
                </section>
                <section
                    :class="isEducationExpanded ? 'section' : 'section section--collapsed'"
                >
                    <header class="section__header" @click="toggleEducation">
                        <h2>Education</h2>
                        <i
                            v-if="isEducationExpanded"
                            class="fa-solid fa-chevron-up fa-xl"
                        ></i>
                        <i v-else class="fa-solid fa-chevron-down fa-xl"></i>
                    </header>
                    <ul class="section__content">
                        <include src="./views/education.html"></include>
                    </ul>
                </section>
            </article>

            <!-- HERE COMES THE REST OF THE COMPONENTS -->

            <aside class="side-container">
                <section
                    :class="isSkillsExpanded ? 'section' : 'section section--collapsed'"
                >
                    <header class="section__header" @click="toggleSkills">
                        <h2>Skills</h2>
                        <i
                            v-if="isSkillsExpanded"
                            class="fa-solid fa-chevron-up fa-xl"
                        ></i>
                        <i v-else class="fa-solid fa-chevron-down fa-xl"></i>
                    </header>
                    <ul class="section__content">
                        <include src="./views/skills.html"></include>
                    </ul>
                </section>
                <section
                    :class="isLanguagesExpanded ? 'section' : 'section section--collapsed'"
                >
                    <header class="section__header" @click="toggleLanguages">
                        <h2>Languages</h2>
                        <i
                            v-if="isLanguagesExpanded"
                            class="fa-solid fa-chevron-up fa-xl"
                        ></i>
                        <i v-else class="fa-solid fa-chevron-down fa-xl"></i>
                    </header>
                    <ul class="section__content">
                        <include src="./views/languages.html"></include>
                    </ul>
                </section>
                <section
                    :class="isHobbiesExpanded ? 'section' : 'section section--collapsed'"
                >
                    <header class="section__header" @click="toggleHobbies">
                        <h2>Hobbies</h2>
                        <i
                            v-if="isHobbiesExpanded"
                            class="fa-solid fa-chevron-up fa-xl"
                        ></i>
                        <i v-else class="fa-solid fa-chevron-down fa-xl"></i>
                    </header>
                    <p class="section__content hobbies">{{ hobbies }}</p>
                </section>
            </aside>
        </main>
        <include src="./views/footer.html"></include>
        <script type="module" src="./assets/scripts/main.js"></script>
        <!-- do not remove this line! -->
    </body>
</html>
