@use "sass:color";
@use "sass:list";

/*------------------------------------*\
  # VARIABLES
\*------------------------------------*/

$font-family: "Lato", sans-serif;

$screenMaxWidth: 1170px;

$breakpointSmall: 480px;
$breakpointMedium: 930px;

$colorText-main: #1f477e;
$colorText-second: #bdbdbd;
$colorText-white: #fff;
$colorText-alt: #4e9feb;

$colorBackground-alt: #0a192f;

/*------------------------------------*\
  # UTILS (MIXINS AND FUNCTIONS)
\*------------------------------------*/

//             1   2   3   4   5   6   7   8    9   10   11
$spaceValues: (5, 10, 15, 20, 25, 30, 40, 60, 100, 160, 240);

@function space($value) {
  @return list.nth($spaceValues, $value) * 1px;
}

@mixin matchMobile {
  @media screen and (max-width: $breakpointSmall) {
    @content;
  }
}

@mixin matchTablet {
  @media screen and (max-width: $breakpointMedium) {
    @content;
  }
}

@mixin animate($attr: all) {
  transition: $attr 250ms ease-in-out;
}
