@use "sass:color";
@use "sass:list";

/*------------------------------------*\
  # VARIABLES
\*------------------------------------*/

$font-family: "Montserrat", sans-serif;

$screen-max-width: 1000px;

$breakpoint-small: 480px;
$breakpoint-medium: 930px;

$color-text-main: #0a192f;
$color-text-secondary: #444452;
$color-text-tertiary: #bdbdbd;
$color-text-white: #fff;

$line-height: 1.25;

$color-background-alt: $color-text-main;

/*------------------------------------*\
  # UTILS (MIXINS AND FUNCTIONS)
\*------------------------------------*/

//             1   2   3   4   5   6   7   8    9   10
$space-values: (5, 10, 15, 20, 25, 30, 40, 60, 100, 160);

@function space($value) {
  @return list.nth($space-values, $value) * 1px;
}

@mixin match-mobile {
  @media screen and (max-width: $breakpoint-small) {
    @content;
  }
}

@mixin match-tablet {
  @media screen and (max-width: $breakpoint-medium) {
    @content;
  }
}

@mixin animate($attr: all) {
  transition: $attr 250ms ease-in-out;
}
